
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Get To know Joel</h2>

<br>
<br>
<br>
<a href="https://www.qwcomedy.com/">Click here to see  his comedy!</a>
<br>
<br>
<a href="https://baconsale.com/">
    <img src="/img/BaconsaleKate.jpg" alt="bacon">
</a>
<br>
<br>
<a href="https://baconsale.com/">Click here or the image to see baconsale!</a>
