@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
<img src="img/JoelHiltonHeadshot.jpg" alt="joel">
</div>

<a asp-controller="Home" asp-action="GetToKnowJoel">Click here to get to know joel</a>
<br>
<a asp-controller="Home" asp-action="MovieInfo">Click here to document a movie!</a>